services:
  hello:
    build:
      context: ./services/hello
    environment:
      APPLICATION_PORT: "3001"
    ports:
      - "3001:3001"
    healthcheck:
      test: ["CMD", "node", "-e", "http=require('http');http.get('http://localhost:3001/health',r=>process.exit(r.statusCode===200?0:1)).on('error',()=>process.exit(1))"]
      interval: 5s
      timeout: 2s
      retries: 10
  app:
    container_name: service
    build:
      context: ./services/api
      target: ${BUILD_TARGET:-prod}
      dockerfile: Dockerfile      
    ports:
      - "${APPLICATION_PORT}:${APPLICATION_PORT}"
      - "9229:9229" # Only used in debug mode
    env_file: 
      - .env
    image: express-api-docker:${BUILD_TARGET:-prod}-${IMAGE_TAG:-latest}
  integration-tests:
    build:
      context: ./integration-tests
      dockerfile: Dockerfile.test
    depends_on:
      - app
    env_file: 
      - .env
    image: express-api-docker-integration-tests-${IMAGE_TAG:-latest}