services:
  app:
    container_name: service
    build:
      context: ./app
      target: ${BUILD_TARGET:-prod}
      dockerfile: Dockerfile      
    ports:
      - "${APPLICATION_PORT}:${APPLICATION_PORT}"
      - "9229:9229" # Only used in debug mode
    env_file: 
      - .env
    image: express-api-docker:${BUILD_TARGET:-prod}-${IMAGE_TAG:-latest}
  integration-tests:
    build:
      context: ./integration-tests
      dockerfile: Dockerfile.test
    depends_on:
      - app
    env_file: 
      - .env
    image: express-api-docker-integration-tests-${IMAGE_TAG:-latest}