services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    environment:
      - PORT=${APPLICATION_PORT}
    ports:
      - "3000:3000"

  integration-tests:
    build: 
      context: ./integration-tests
      dockerfile: Dockerfile.test
    depends_on:
      - app
    environment:
      - BASE_URL=http://app:${APPLICATION_PORT}

  app-debug:
    build:
      context: ./app
      dockerfile: Dockerfile
    profiles:
      - debug
    environment:
      - PORT=${APPLICATION_PORT}
    ports:
      - "3000:3000"
      - "9229:9229"
    command: ["node", "--inspect=0.0.0.0:9229", "--enable-source-maps", "dist/index.js"]